<div class="flex flex-col p-2">
  <label for="adminpw">Admin Password:</label>
  <input 
    class="text-gray-900 pl-2 pr-2 rounded-sm" 
    id="adminpw" 
    name="adminpw" 
    type="password" 
    required>
  </input>
</div>