<div class="flex flex-col p-2">
  <label for="confirmationq">What's in the snowglobe?</label>
  <input 
    class="text-gray-900 pl-2 pr-2 rounded-sm" 
    id="confirmationq"
    name="confirmationq"
    type="text"
    required>
  </input>
</div>