{{#> main_content}}
  <h1 class="block text-6xl align-top">{{title}}</h1>
  <section class="pt-4 pb-4">
    <ul class="flex flex-col pl-4">
      {{#each categories}}
        <li>
          <h3 class="text-2xl">
            <a href={{this.url}}>
              {{this.name}}
            </a>
          </h3>
          {{!-- TODO: I want to display either a count of items in cat, or just if empty --}}
        </li>
      {{/each}}
    </ul>
  </section>
  <section>
    <a href="/inv/category/create">{{#> button}} Add category {{/button}}</a>
  </section>
{{/main_content}}