{{#> main_content}}
  <form method="POST" action="" class="m-0" enctype="multipart/form-data">
    <div class="pb-4">
      <label for="name">Category name:</label>
      <input 
        class="rounded-sm pr-2 pl-2 text-gray-900" 
        type="text" 
        placeholder="Attire, Firearms, etc." 
        id="name" 
        name="name" 
        required="true"
        value="{{#if category}}{{category.name}}{{/if}}"
        >
    </div>
    <div class="pb-4">
      <label for="name">Category icon:</label>
      <input
        class="rounded-sm pr-2 pl-2 text-gray-900" 
        type="file"
        id="icon_upload"
        name="icon_upload"
      >
    </div>
    {{> adminpw }}
    {{#> button type="submit"}}Submit{{/button}}
  </form>
  {{#if errors}}
    <ul>
      {{#each errors}}
      <li>{{this.msg}} - {{this.param}}:{{this.value}}</li>
      {{/each}}
    </ul>
  {{/if}}
{{/main_content}}