<div class="container flex justify-center p-2">
  <main class="bg-gray-700 w-96 mx-auto rounded-lg p-2 shadow-lg">
    <h1 class="block text-5xl">{{title}}</h1>
    <p>Welcome to {{title}}</p>
  </main>
</div>