<div class="flex justify-center p-2 w-100">
  <main class="bg-gray-700 w-full max-w-prose mx-auto rounded-lg p-5 shadow-lg">
    <h1 class="block text-8xl leading-normal">{{title}}</h1>
    <section class="leading-loose">
      <p>Welcome to {{title}}</p>
      <p>There are {{count}} products in stock at the moment.</p>
    </section>
  </main>
</div>