{{#> main_content}}
  <h1 class="block text-8xl align-top">{{title}}</h1>
  <section class="pt-4 leading-loose">
    <p>Welcome to {{title}}</p>
    <p>There are
      {{productCount}}
      products in stock at the moment.
      <a class="underline" href="/inv/products">View Products</a>
    </p>
    <p>There are
      {{categoryCount}}
      categories to choose from.
      <a class="underline" href="/inv/categories">View Categories</a>
    </p>
  </section>
{{/main_content}}