{{#> main_content }}
  <h1 class="block text-6xl align-top">{{title}}</h1>
  <section class="pt-4 pb-4">
    <ul class="flex flex-col pl-4">
      {{#each products}}
        <li>
          {{> product_card product=this}}
          <hr>
        </li>
      {{/each}}
    </ul>
  </section>
  <section>
    <a href="/inv/product/create">{{#> button}} Add product {{/button}}</a>
  </section>
{{/main_content}}
