{{#> main_content}}
  <h1 class="pb-2 text-6xl">Delete "{{product.name}}"?</h1>
  <p>This action cannot be undone.</p>
  <hr class="pb-2">
  <form action="" method="POST">
    <div>
      <input 
          id="productid" 
          name="productid" 
          type="hidden" 
          required="true" 
          value={{product._id}}
      >
    </div>
    {{> adminpw }}
    <div class="flex flex-row gap-2 p-2 pb-0">
      {{#> button warn=true type="submit"}} Delete {{/button}}

      <a href={{product.url}}>
        {{#> button }} Back {{/button}}
      </a>
    </div>
  </form>
  {{#if errors}}
    <ul>
    {{#each errors}}
      <li>{{this.msg}}</li>
    {{/each}}
    </ul>
  {{/if}}
{{/main_content}}